/*
----------
RESET
----------
*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*
----------
COMMON
----------
*/
body {
  font-family: "Open Sans", sans-serif;
}

img {
  width: 100%;
  display: block;
}

.btn {
  all: unset;
  padding: 10px 15px;
  cursor: pointer;
  text-align: center;
  background-color: white;
  border: 1px solid black;
}

.primary-btn {
  color: white;
  background-color: #0061ff;
  border: none;
}

.container-big {
  max-width: 1190px;
  margin: 0 auto;
}

.container-small {
  max-width: 1000px;
  margin: 0 auto;
}

h2 {
  font-size: 35px;
}

h3 {
  font-size: 24px;
}

/*
----------
HEADER
----------
*/
header {
  color: black;
}

/*----------------nav--------------*/
header nav {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  background-color: white;
  height: 80px;
  line-height: 80px;
}

header nav .nav-left,
header nav .nav-right {
  display: flex;
  align-items: center;
}

header nav ul {
  display: flex;
  list-style-type: none;
  align-items: center;
}

header nav ul li {
  padding: 0 30px;
}

header nav ul li .primary-btn {
  line-height: normal;
}

/*----------------jumbotron--------------*/
.jumbotron {
  background-color: #b4d0e7;
  margin-top: 80px;
}

.jumbotron h1 {
  font-size: 78px;
  padding: 100px 100px 0px 0;
  line-height: 85px;
}

.jumbotron .jumbotron-section {
  display: flex;
  position: relative;
  top: 80px;
}

.jumbotron .jumbotron-section .left-col {
  width: 30%;
}

.jumbotron .jumbotron-section .right-col {
  width: 70%;
}

.jumbotron .jumbotron-section .left-col > * {
  margin-bottom: 30px;
}

.jumbotron .jumbotron-section .left-col div:last-child {
  margin-bottom: 20px;
}

.jumbotron .jumbotron-section .left-col i {
  font-size: 50px;
  margin-top: 60px;
  margin-bottom: 70px;
}

/*
----------
MAIN
----------
*/
/*----------------first section--------------*/
main .container-small.first-section {
  margin-top: 100px;
  font-size: 14px;
}

main .first-section h2 {
  padding: 60px 0;
}

main .first-section .radio-btns {
  display: flex;
  gap: 40px;
  margin-bottom: 45px;
}

.first-section-content {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
}

.first-section-content > * {
  width: calc((100% - 100px) / 3);
  border: 1px solid #d0d0d3;
}

.first-section-content > div:last-of-type {
  flex-grow: 1;
}

.first-section-content .subscription-target {
  text-align: center;
  border-bottom: 1px solid #d0d0d3;
  padding: 10px 0;
}

.first-section-content .offer {
  padding: 40px 30px;
}

.first-section-content .offer .offer-features .price {
  display: block;
  padding: 25px 0 15px 0;
}

.first-section-content .offer ul {
  list-style-type: none;
  margin-left: 20px;
  padding: 50px 0 0 0;
}

.first-section-content .offer ul li {
  margin-bottom: 20px;
}

.first-section-content .offer .offer-features .link {
  padding: 30px 0;
}

.first-section-content .offer .main-points h4 {
  padding-top: 50px;
}

.first-section-content .singolo .offer-features ul li:nth-child(1):before,
.first-section-content .azienda .offer-features ul li:nth-child(1):before {
  font-family: "FontAwesome";
  content: "\f007";
  margin: 0 5px 0 -15px;
}

.first-section-content .singolo .offer-features ul li:nth-child(2)::before,
.first-section-content .team .offer-features ul li:nth-child(2)::before,
.first-section-content .azienda .offer-features ul li:nth-child(2)::before {
  font-family: "FontAwesome";
  content: "\f07b";
  margin: 0 5px 0 -15px;
}

.first-section-content .singolo .offer-features ul li:nth-child(3)::before,
.first-section-content .team .offer-features ul li:nth-child(3)::before,
.first-section-content .azienda .offer-features ul li:nth-child(3)::before {
  font-family: "FontAwesome";
  content: "\f1e0";
  margin: 0 5px 0 -15px;
}

.first-section-content .singolo .main-points ul li::before,
.first-section-content .team .main-points ul li::before,
.first-section-content .azienda .main-points ul li::before {
  font-family: "FontAwesome";
  content: "\f00c";
  margin: 0 5px 0 -15px;
  color: #0061ff;
}

.first-section-content .team .offer-features ul li:nth-child(1):before {
  font-family: "FontAwesome";
  content: "\f0c0";
  margin: 0 5px 0 -15px;
}

.custom .offer.final {
  display: flex;
}

.custom .offer.final div:first-child {
  width: 70%;
  margin-right: 50px;
}

.custom .offer.final h4 {
  padding: 20px 0 45px 0;
}

/* .first-section-content .primary-btn {
  display: block;
  width: 100%;
} */

/*----------------second section--------------*/
main .second-section {
  display: flex;
  margin-top: 150px;
}

.second-section .w-60 {
  width: 60%;
}

.second-section .w-40 {
  width: 40%;
  padding: 50px 45px;
}

.second-section p {
  padding: 15px 0 20px 0;
}

/*----------------third section--------------*/
main .third-section {
  margin-top: 150px;
}

main .third-section h2 {
  margin-bottom: 75px;
}

main .third-section .dropbox-business {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

main .third-section .dropbox-business > * {
  width: calc((100% - 60px) / 3);
}

main .third-section p {
  margin-top: 30px;
}

/*----------------fourth section--------------*/
main .fourth-section {
  margin-top: 200px;
  margin-bottom: 150px;
}

main .fourth-section h2 {
  padding-right: 350px;
  margin-bottom: 60px;
}

/*----------------fifth section--------------*/
.top-section {
  height: 640px;
  display: flex;
}

.top-section > div {
  width: calc(100% / 3);
}

.left-images {
  background-color: green;
  display: flex;
  flex-wrap: wrap;
}

.left-images > * {
  border: 2px solid black;
  width: calc(100% / 2);
  height: 50%;
  padding: 50px;
}
.left-images > img:nth-child(3) {
  border: 2px solid black;
  width: calc(100% / 2);
  height: 50%;
  padding: 140px 50px;
}
.center-section {
  background-color: red;
}
.right-images {
  background-color: blue;
  display: flex;
  flex-wrap: wrap;
}
.right-images > * {
  border: 2px solid black;
  width: calc(100% / 2);
  height: 50%;
  padding: 50px;
}

.bottom-section {
  height: 360px;
  background-color: aqua;
}

/*
----------
FOOTER
----------
*/
