/*
----------
RESET
----------
*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*
----------
COMMON
----------
*/
body {
  font-family: "Open Sans", sans-serif;
}

img {
  width: 100%;
  display: block;
}

.btn {
  all: unset;
  padding: 10px 15px;
  cursor: pointer;
  background-color: white;
  border: 1px solid black;
}

.primary-btn {
  color: white;
  background-color: #0061ff;
  border: none;
}

.primary-btn:hover {
  filter: opacity(0.7);
}

.container-big {
  max-width: 1190px;
  margin: 0 auto;
}

.container-small {
  max-width: 1000px;
  margin: 0 auto;
}

h2 {
  font-size: 35px;
}

h3 {
  font-size: 24px;
}

hr {
  width: 20%;
  color: #d0d0d3;
}

.w-60 {
  width: 60%;
}

.w-40 {
  width: 40%;
}

.w-70 {
  width: 70%;
}

.w-30 {
  width: 30%;
}

/*
----------
HEADER
----------
*/
header {
  color: black;
}

/*----------------nav--------------*/
header nav {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  background-color: white;
  height: 80px;
  line-height: 80px;
  box-shadow: 0px 0.1px 5px 0.1px rgba(0, 0, 0, 0.5);
}

header nav {
  display: flex;
}

header nav ul {
  display: flex;
  list-style-type: none;
  align-items: center;
}

header nav ul li {
  padding: 0 30px;
}

.ul-left li:not(#logo):hover {
  border-bottom: 2px solid black;
  margin-bottom: -2px;
}

.ul-right li:not(:last-of-type):hover {
  border-bottom: 2px solid black;
  margin-bottom: -2px;
}

header nav ul li .primary-btn {
  line-height: normal;
}

header a {
  text-decoration: none;
  color: black;
}

/*
----------
MAIN
----------
*/
/*----------------jumbotron--------------*/
main .jumbotron {
  background-color: #b4d0e7;
  margin-top: 80px;
}

main .jumbotron h1 {
  font-size: 78px;
  padding: 100px 100px 0px 0;
  line-height: 85px;
}

main .jumbotron .jumbotron-section {
  display: flex;
  position: relative;
  top: 80px;
}

main .jumbotron .jumbotron-section .left-col > * {
  margin-bottom: 30px;
}

main .jumbotron .jumbotron-section .left-col i {
  font-size: 50px;
  margin-top: 60px;
  margin-bottom: 60px;
}

/*----------------first section--------------*/
main .container-small.first-section {
  margin-top: 100px;
  font-size: 14px;
}

main .first-section h2 {
  padding: 60px 0;
}

main .first-section .radio-btns {
  display: flex;
  gap: 40px;
  margin-bottom: 45px;
}

.first-section-content {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
}

.first-section-content > * {
  width: calc((100% - 100px) / 3);
  border: 1px solid #d0d0d3;
}

.first-section-content > div:last-of-type {
  flex-grow: 1;
}

.first-section-content .subscription-target {
  text-align: center;
  border-bottom: 1px solid #d0d0d3;
  padding: 10px 0;
}

.first-section-content .offer {
  padding: 40px 30px;
}

.first-section-content .offer .offer-features .price {
  display: block;
  padding: 25px 0 15px 0;
}

.first-section-content .offer ul {
  list-style-type: none;
  margin-left: 20px;
  padding: 50px 0 0 0;
}

.first-section-content .offer ul li {
  margin-bottom: 20px;
}

.first-section-content .offer .offer-features .link {
  padding: 30px 0;
}

.first-section-content .offer .main-points h4 {
  padding-top: 50px;
}

.first-section-content .singolo .offer-features ul li:nth-child(1):before,
.first-section-content .azienda .offer-features ul li:nth-child(1):before {
  font-family: "FontAwesome";
  content: "\f007";
  margin: 0 5px 0 -15px;
}

.first-section-content .singolo .offer-features ul li:nth-child(2)::before,
.first-section-content .team .offer-features ul li:nth-child(2)::before,
.first-section-content .azienda .offer-features ul li:nth-child(2)::before {
  font-family: "FontAwesome";
  content: "\f07b";
  margin: 0 5px 0 -15px;
}

.first-section-content .singolo .offer-features ul li:nth-child(3)::before,
.first-section-content .team .offer-features ul li:nth-child(3)::before,
.first-section-content .azienda .offer-features ul li:nth-child(3)::before {
  font-family: "FontAwesome";
  content: "\f1e0";
  margin: 0 5px 0 -15px;
}

.first-section-content .singolo .main-points ul li::before,
.first-section-content .team .main-points ul li::before,
.first-section-content .azienda .main-points ul li::before {
  font-family: "FontAwesome";
  content: "\f00c";
  margin: 0 5px 0 -15px;
  color: #0061ff;
}

.first-section-content .team .offer-features ul li:nth-child(1):before {
  font-family: "FontAwesome";
  content: "\f0c0";
  margin: 0 5px 0 -15px;
}

.first-section-content .custom .offer.final {
  display: flex;
}

.first-section-content .custom .offer.final div:first-child {
  margin-right: 50px;
}

.first-section-content .custom .offer.final h4 {
  padding: 20px 0 45px 0;
}

/*----------------second section--------------*/
main .second-section {
  display: flex;
  margin-top: 150px;
}

main .second-section .w-40 {
  padding: 50px 45px;
}

main .second-section p {
  padding: 15px 0 20px 0;
}

/*----------------third section--------------*/
main .third-section {
  margin-top: 150px;
}

main .third-section h2 {
  margin-bottom: 75px;
}

main .third-section .dropbox-business {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

main .third-section .dropbox-business > * {
  width: calc((100% - 60px) / 3);
}

main .third-section p {
  margin-top: 30px;
}

/*----------------fourth section--------------*/
main .fourth-section {
  margin-top: 200px;
}

.fourth-section .top-section h2 {
  padding-right: 350px;
  margin-bottom: 60px;
}

.fourth-section .bg-blue {
  background-color: #b4d0e7;
  margin-top: 150px;
}

.fourth-section .mid-section {
  height: calc(100vw / 3);
  display: flex;
}

.fourth-section .mid-section > * {
  width: calc(100% / 3);
}

.fourth-section .mid-section .left-images {
  display: flex;
  flex-wrap: wrap;
}

.fourth-section .mid-section .left-images > * {
  width: 50%;
  height: 50%;
  position: relative;
}

.fourth-section .left-images img,
.fourth-section .right-images img {
  width: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  filter: invert(1);
}

#designit {
  background-color: #a2d39b;
}

#designit:active {
  border: 15px solid #d1e9cd;
}

#arizona {
  background-color: #61082b;
}

#florida {
  background-color: #0093ce;
}

#topps {
  background-color: #ff1c1c;
}

.fourth-section .mid-section .center-section {
  background-color: #f5f5f5;
  padding: 45px;
  overflow: auto;
}

.fourth-section .mid-section .center-section img {
  width: 50%;
  margin-bottom: 45px;
}

.fourth-section .mid-section .center-section p {
  padding: 40px 0 55px 0;
}

.fourth-section .mid-section .right-images {
  display: flex;
  flex-wrap: wrap;
}

.fourth-section .mid-section .right-images > * {
  width: 50%;
  height: 50%;
  position: relative;
}

#world-bicycle {
  background-color: #d5001f;
}

#hearst-corp {
  background-color: #b4d0e7;
}

#lonely-planet {
  background-color: #0d2481;
}

#clear-channel {
  background-color: #ffd830;
}

.fourth-section .bottom-section {
  display: flex;
  padding: 135px 0;
}

.fourth-section .bottom-section h2 {
  color: #61082b;
  padding-right: 150px;
}

.fourth-section .bottom-section button {
  border: none;
}

/*----------------fifth section--------------*/
main .fifth-section {
  padding: 150px 0;
}

.fifth-section > h2 {
  margin-bottom: 70px;
}

.fifth-section > .row {
  display: flex;
  flex-wrap: wrap;
  padding: 40px 0;
  justify-content: space-between;
}

.fifth-section > .row > i {
  margin-right: 40px;
}

.fifth-section > .row > p {
  margin-top: 20px;
  display: none;
}

.fifth-section > .row > i:hover + p {
  display: block;
}

.fifth-section > .row > i:hover {
  transform: rotate(180deg);
}

/*
----------
FOOTER
----------
*/
footer {
  background-color: black;
  color: white;
  border-bottom: 2px solid white;
  padding-top: 100px;
}

footer .footer-top {
  display: flex;
  gap: 95px;
  margin-bottom: 100px;
}

.footer-top > .footer-column {
  width: calc((100% - 380px) / 5);
}

.footer-column h3 {
  margin-bottom: 30px;
}

.footer-column ul {
  list-style-type: none;
}

.footer-column ul li {
  margin-bottom: 15px;
}

.footer-column ul li a {
  text-decoration: none;
  color: currentColor;
}

.footer-column ul li a:hover {
  text-decoration: underline;
}

footer hr {
  width: 10%;
}

footer .language {
  padding: 45px 0;
  color: #999999;
}
