/*
----------
RESET
----------
*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*
----------
COMMON
----------
*/
body {
  font-family: "Open Sans", sans-serif;
}

img {
  width: 100%;
  display: block;
}

button {
  all: unset;
  padding: 10px 15px;
  cursor: pointer;
}

.container-big {
  max-width: 1190px;
  margin: 0 auto;
}

.container-small {
  max-width: 1000px;
  margin: 0 auto;
}

/*
----------
HEADER
----------
*/
header {
  color: black;
}

/*----------------nav--------------*/
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  background-color: white;
}

header nav .nav-left,
header nav .nav-right {
  display: flex;
  align-items: center;
}

header nav ul {
  display: flex;
  list-style-type: none;
}

header nav ul li,
#logo,
header nav .nav-right .btn {
  padding: 30px;
}

.primary-btn {
  color: white;
  background-color: #0061ff;
}

/*----------------jumbotron--------------*/
.jumbotron {
  background-color: #b4d0e7;
  position: relative;
  margin-top: 100px;
}

.jumbotron h1 {
  font-size: 55px;
  padding: 100px 100px 70px 0;
  line-height: 85px;
}

.jumbotron .right-col img {
  position: absolute;
  width: 830px;
}

.jumbotron .jumbotron-section {
  display: flex;
}

.jumbotron .jumbotron-section .left-col {
  width: 30%;
}

.jumbotron .jumbotron-section .right-col {
  width: 70%;
}

.jumbotron .jumbotron-section .left-col > * {
  margin-bottom: 30px;
}

.jumbotron .jumbotron-section .left-col div:last-child {
  margin-bottom: 20px;
}

.jumbotron .jumbotron-section .left-col i {
  font-size: 50px;
  margin-top: 60px;
}

/*
----------
MAIN
----------
*/
/*----------------first section--------------*/
main .container-small.first-section {
  margin-top: 100px;
  font-size: 14px;
}

main .first-section h2 {
  font-size: 35px;
  padding: 60px 0;
}

main .first-section .radio-btns {
  display: flex;
  gap: 40px;
  margin-bottom: 45px;
}

.first-section-content {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
}

.first-section-content > * {
  width: calc((100% - 100px) / 3);
  border: 1px solid #d0d0d3;
}

.first-section-content > div:last-of-type {
  flex-grow: 1;
}

.first-section-content .subscription-target {
  text-align: center;
  border-bottom: 1px solid #d0d0d3;
  padding: 10px 0;
}

.first-section-content .offer {
  padding: 40px 30px;
}

.first-section-content .offer .offer-features h3 {
  font-size: 18px;
}

.first-section-content .offer .offer-features .price {
  display: block;
  padding: 25px 0 15px 0;
}

.first-section-content .offer ul {
  list-style-type: none;
  margin-left: 20px;
  padding: 50px 0 0 0;
}

.first-section-content .offer ul li {
  margin-bottom: 20px;
}

.first-section-content .offer .offer-features .link {
  padding: 30px 0;
}

.first-section-content .offer .main-points h4 {
  padding-top: 50px;
}

.first-section-content .singolo .offer-features ul li:nth-child(1):before,
.first-section-content .azienda .offer-features ul li:nth-child(1):before {
  font-family: "FontAwesome";
  content: "\f007";
  margin: 0 5px 0 -15px;
}

.first-section-content .singolo .offer-features ul li:nth-child(2)::before,
.first-section-content .team .offer-features ul li:nth-child(2)::before,
.first-section-content .azienda .offer-features ul li:nth-child(2)::before {
  font-family: "FontAwesome";
  content: "\f07b";
  margin: 0 5px 0 -15px;
}

.first-section-content .singolo .offer-features ul li:nth-child(3)::before,
.first-section-content .team .offer-features ul li:nth-child(3)::before,
.first-section-content .azienda .offer-features ul li:nth-child(3)::before {
  font-family: "FontAwesome";
  content: "\f1e0";
  margin: 0 5px 0 -15px;
}

.first-section-content .singolo .main-points ul li::before,
.first-section-content .team .main-points ul li::before,
.first-section-content .azienda .main-points ul li::before {
  font-family: "FontAwesome";
  content: "\f00c";
  margin: 0 5px 0 -15px;
  color: #0061ff;
}

.first-section-content .team .offer-features ul li:nth-child(1):before {
  font-family: "FontAwesome";
  content: "\f0c0";
  margin: 0 5px 0 -15px;
}

/*
----------
FOOTER
----------
*/
